
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
 
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  padding-top: 75px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;  
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.site-navigation a,
.user-navigation a {
  color: inherit;
  display: block;
}

.site-navigation a {
	padding-right: 21px;
}

.site-navigation-current {
	padding-right: 21px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, .3);
	
}

.advantages-list,
.services-list,
.about-us-list {
	list-style: none;
	margin: 0;
  	padding: 0;
}

.about-us-list li {
	margin-bottom: 32px;
	position: relative;
	
}


.about-us-list li::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 2px;
	background-color: #fb565a;
	margin-right: 11px;
	position: relative;
	bottom: 5px;
}




.advantages-list {
	text-align: left;
}

.advantages-slogan {
	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.advantages {
	background-color: #eeeeee;	
}

.advantages-information {
	font-weight: 500;
}



/*.advantages-item {
  display: none;
}

.advantages-item:nth-child(1) {
  display: flex;
}*/

.advantages input {
	display: none;
}


.slider-controls {
  /*position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);*/
  
  
  text-align: center;
  

}


.slider-controls label {
  /*position: relative;*/
    /*display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
    border-radius: 50%;
  cursor: pointer;
  background-color: red;*/


  	display: inline-block;
    width: 18px;
    height: 18px;    
    cursor: pointer;
    background: #ffffff;  
  	border-radius: 50%;
  	position: relative;
    
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]:after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]:after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]:after{
	content: "";

  position: absolute;
  width: 8px;
  height: 8px;
  margin: -4px;
  top: 9px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;

}


#btn-1:checked ~ .advantages-slider  {
    transform: translate(0);
}

#btn-2:checked ~ .advantages-slider {
    transform: translate(-1200px);
}

#btn-3:checked ~ .advantages-slider {
    transform: translate(-2400px);
}


/*.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 8px;
  height: 8px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}*/


.services {
	background-image: url("../img/divide.png");
	background-position: bottom, 0 0;
	background-repeat: no-repeat;
}

.services-title {
	font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  position: absolute;
  top: 175px;

}

.services-order {
	font-weight: 500;
}

.button {
  text-align: center;
  color: rgba(255, 255, 255);
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;

  display: inline-block;
  border-radius: 3px;
}




.advantages-information .button {
	padding: 18px 53px;
}

.button-red,
.button-green,
.button-yellow {
	padding: 18px 40px;
	position: absolute;
	top: 294px;

}

.button:hover {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 0 #c13135;
}


.button-green {
	background-color: #00ca74;
}

.button-green:hover {
	background-color: #00bc6c;
}

.button-green:active {
	background-color: #00aa62;
	box-shadow: inset 0 3px 0 0 #009958;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover {
	background-color: #eab534;
}

.button-yellow:active {
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 0 #ce961f;
}






.about-us {
	min-height: 525px;
	padding-top: 40px;
}

.about-us-slogan {
	font-size: 45px;
  	line-height: 45px;
  	font-weight: 500;
  	color: #000000;
  	margin: 0px;
  	margin-top: 40px;
  	margin-bottom: 33px;
}

.about-us-principles {
	margin-bottom: 46px;
}

.about-us-title {
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
	margin: 0px;
	margin-bottom: 34px;
}

.about-us-results p {
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;	
}

.statistics th {
	font-size: 45px;
  	line-height: 45px;
  	font-weight: 700;
  	color: #000000;
  	padding: 0px;
  	padding-bottom: 28px;
  	
}

.statistics tr {
	padding: 0;
}

.partners-list {
	margin-bottom: 80;
}


.partners-list {
list-style: none;
}

.partners-list a {	
	opacity: 0.2;
}

.partners-list a:hover {
	opacity: 1;
}

.partners-list a:focus {
	opacity: 0.1;
}

.contacts {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 416px;
	padding-top: 54px;	
	background-image: url("../img/map.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container .contacts-info {	
	box-sizing: border-box;	
	width: 320px;
	min-height: 308px;
	background-color: #ffffff;	
	
}

	

.contacts-title {	
	font-size: 18px;
  	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.contacts-title p {
	padding: 0;
	margin: 0;
}

.footer-social {
	list-style: none;
}

.friendship {
	margin: 0;
	padding: 0;
}

.friendship-slogan {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
   background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.friendship-offer {
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;	
	align-items: center;
  	justify-content: center;	
	height: 78px;
	width: 78px;
	background-color: #eeeeee;
	border-radius: 50%;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:active {
	/*color: rgba(255, 255, 255, .3);
	background-color: #d7373b;*/

	background-color: #d7373b;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 0 #c13135;
	
}

.container-title h1 {
	font-size: 55px;
  	line-height: 55px; 
  	vertical-align: middle; 
  	padding: 0;
  	margin: 0;
  	padding-top: 85px;

}

.container {
	/*убрал заливку background-color: #eeeeee; т.к использовал контейнер для центрирования боков "услуги" и "О нас" и пр.*/
}

legend {
	font-size: 18px;
  	line-height: 30px;
  	text-transform: uppercase;
  	font-weight: 700;
  	color: #000000;
}

.sorting-rule {
	font-weight: 700;
	padding-right: 267px;
}

.filter-option {
	list-style: none;
	position: relative;
	margin-bottom: 17px;
}

/*.filter-item-radio .filter-option label:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 27px;
	cursor: pointer;
	border-radius: 50%;	
	border: 4px solid #a6a6a6;
	left: -37px;
}


[type="radio"]:checked ~  label::before {
	background-color: #a6a6a6;
	padding: 4px;
}
*/

.filter-item-radio .filter-option label:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;	
	left: -37px;
}

[type="radio"]:checked ~  label::before {
	background-image: url("../img/radio-on.svg");
}


.filter-item-checkbox .filter-option label:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;	
	left: -37px;
}

[type="checkbox"]:checked ~  label::before {
	background-image: url("../img/checkbox-on.svg");
}




/*.filter-input:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 27px;
	height: 27px;
	
	cursor: pointer;
	border-radius: 50%;
	border: 4px solid #a6a6a6;
}

.filter-item li:checked:before {
	margin: -4px;
	background-color: #3acfb6;
	border-color: white;
}*/


.filter-button {
	background-color: #eeeeee;	
	font-weight: 500;
	color: #000000;
	padding: 16px 90px;
	}

.filter-button:hover {
	background-color: #dfdfdf;
	color: #000000;
}

.filter-button:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
	color: rgba(0, 0, 0, .3);

}

.sorting-type,
.sorting-direction {
	list-style: none;
}

.catalog-list {
	list-style: none;
	padding: 0;
  	margin: 0;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: stretch;
  	justify-content: space-between;
  	align-content: space-between;
  	margin-top: 134px;
}

.catalog-item-title {
	font-weight: 700;
	color: #000000;
	padding: 0;
	margin: 0;
	padding-top: 28px;
	padding-bottom: 19px;
	text-transform: uppercase;
}

.catalog-item-price {
	font-weight: 500;
	padding: 18px 60px;
	margin: 0;
}

.catalog-item-description {
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}




.sorting-type a,
.sorting-direction a {
	color: rgba(0,0,0,.3);
	text-transform: uppercase;		
}

.sorting-type a:hover,
.sorting-direction a:hover {
	color: rgba(0,0,0,.6);
}

.sorting-type a:active,
.sorting-direction a:active {
	color: rgba(0,0,0,1);
}

.pagination {
	margin-bottom: 60px;
	list-style: none;
	font-weight: 500;
	display: flex;
}

.pagination a {
	color: #000000;
	background-color: #eeeeee;
}

.pagination a:hover {
	background-color: #dfdfdf;
}

.pagination a:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}




.pagination li {
	padding-right: 11px;
	text-transform:  uppercase;
}

.pagination li:not(:last-child) a {
	padding: 17px 20px;
	border-radius: 3px;
}

.pagination li:last-child a {
	padding: 17px 80px;
	border-radius: 3px;
}



/*сеточные стили*/


.main-header {
	background: #eeeeee;
}

.main-navigation {
	display: flex;
	align-items: center;
	min-height: 116px;
}

.main-header-logo {
	width: 160px;
	height: 70px;
	margin-top: 50px;

 /* Временно для сетки */
	/*display: block;*/
}

.site-navigation {
	
	width: 660px;
	text-transform: uppercase;

}

.user-navigation {
	
	width: 160px;
	text-transform: uppercase;
	display: flex;
	padding-left: 45px;	
	background: rgba(234, 255, 45, 0.2);
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.user-navigation .login-link {
	position: relative;
}

.login-link::before {
	content: "";

	position: absolute;

	top: 7px;
 	left: -45px;
  
	
	width: 16px;
	height: 18px;

	background-image: url("../img/icon-cart.svg");
	background-blend-mode: overlay;	

	
	background-repeat: no-repeat;
 	background-position: 0 0;
}



.main-navigation-wrapper {
	width: 100%;
	
	

/*  Временно для сетки 	
	margin-bottom: 18px;*/
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.advantages {
	margin: 0;
  	padding: 0;
  	position: relative;
  	

}

.advantages .container  {
	overflow: hidden;
}


.advantages-slider {
	width: 400%;
}

.advantages-slider li {
	float: left;
}


.advantages-item {
	min-height: 415px;
	display: flex;
}


.advantages-img {
	width: 760px;
}

.advantages-item-wrapper {
	width: 400px;
}

/*не выравнивается 3-ья картинка. не получается исправить*/

.services-item {
	width: 360px;
	position:relative;	
	/* Временно для сетки */
	min-height: 350px;	
	background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
  margin-bottom: 80px;
}

.services-item h3 {
	background: rgba(255, 45, 82, 0.5);
	margin: 0;
}

.services-item img {
	width: 300px;
	height: 147px;
	position: absolute;
	top: 0px;
	left: 0px;	
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 80px;
}

.services-slogan {
	margin: 0;
	width: 260px;
	position: absolute;
	top: 220px;
}

.about-us-description {
	
	width: 660px;
	background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}


.about-us-info {
	
	width: 360px;
	background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
  margin: 0;
}



.about-us-image {
	margin: 0;
	margin-bottom: 39px;
}


.about-us-info p {
	text-align: center;
	margin: 0;
	margin-bottom: 49px;
}


.about-us-wrapper {
	display: flex;
	justify-content: space-between;
}

.partners {
	background-image:
	url("../img/divide.png"),
	url("../img/divide.png");
	background-position: top, bottom;
	background-repeat: no-repeat, no-repeat;
	margin-bottom: 80px;
}

.partners-list {
	min-height: 185px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
  margin: 0;
}

.footer-social {
	margin: 0;
	padding: 0;	
	width: 260px;
	margin-right: 140px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-footer {
	display: flex;
	align-items: center;
	min-height: 217px;
	padding: 0;
   	margin: 0;   
   	background: rgba(234, 255, 45, 0.2);
  	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.main-footer .container {
	display: flex;
	align-items: center;
	background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

.feedback .button {
	padding: 18px 53px;
}


h1 {
	text-align: center;
}

.container-title {	
	margin-bottom: 60px;	
	padding: 0;
  	margin: 0;
  	min-height: 240px;
  	background: #eeeeee;
  	background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

.sorting-type,
.sorting-direction {
	padding: 0;
  	margin: 0;
  	
}

.sorting-type li:not(:last-child) {
	padding-right: 26px;
}

a.sorting-down {
	display: inline-block;
	position: relative;
	
	font-size: 0;
	margin: 0;
	padding: 0;
	margin-right: 18px;
}

a.sorting-up {
	display: inline-block;
	position: relative;
	bottom: 11px;	
	font-size: 0;
	margin: 0;
	padding: 0;
	
}



.sorting-down:before{
	content: "";
	
	
	border: 11px solid #010101;
	border-right-width: 5.5px;
    border-left-width: 5.5px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.sorting-up:before{
	content: "";
	
	border: 11px solid #a6a6a6;
	border-right-width: 5.5px;
    border-left-width: 5.5px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
    


.sorting-type  {
	margin-right: 48px;
}


.filters {
	width: 260px;


}

.catalog {
	width: 760px;

}

.content {
	display: flex;
	justify-content: space-between;

}

.catalog-sorting {
	display: flex;
	padding: 57px 0px;
	justify-content: flex-start;
	width: 780px;
	position: absolute;
	margin-left: 400px;
	text-transform: uppercase;
	background: rgba(255, 45, 82, 0.2);
  	box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.sorting-type,
.sorting-direction {
	display: flex;
	
}

.catalog-item {
	width: 360px;
	margin: 0;
	margin-bottom: 35px;	
	min-height: 620px;
	position: relative;

}

/*.catalog-info-wrapper {
	background-color: #eeeeee;
	min-height: 231px;
	width: 360px;
	

}
*/

.catalog-item-info {
	background-color: #eeeeee;
	padding: 0;
	margin: 0;
	min-height: 230px;
	width: 360px;
	position: absolute;
	bottom: 0px;
	
}

.catalog-item .catalog-item-info {
	display: none;
}

.catalog-item:hover .catalog-item-info {
	display: block;
}



.catalog-item-wrapper {
	width: 240px;

	padding: 0;
	margin: 0px 60px;
	text-align: center;
	min-height: 230px;
	
}

.catalog-image {
	padding: 0;
	margin: 0;
}




.catalog-image {
	height: 100%;
}

.pagination {
	padding: 0;
  	margin: 0;
  	margin-bottom: 60px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none; 

}

.filter-item-bar {
	margin: 0;
	margin-bottom: 54px;
	margin-top: 58px;
	
	
}

.filter-item-radio,
.filter-item-checkbox {
	margin-bottom: 46px;
	position: relative;
}


.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  padding-top: 39px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 2px;



  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
 width: 80px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

